
@{
    ViewBag.Title = "TinhToanChiSo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    /*body {
        margin: 0;
        color: #6a6f8c;
        background: #c8c8c8;
        font: 600 16px/18px 'Open Sans', sans-serif
    }*/
    .background {
        background-image: url('../../Content/img/people_tinhtoanchiso.png');
        /*background-image: url('../../Content/img/bg_login.png');*/
        background-size: cover;
        /*background: #76b852;*/ /* fallback for old browsers */
        /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
        background: -moz-linear-gradient(right, #76b852, #8DC26F);
        background: -o-linear-gradient(right, #76b852, #8DC26F);
        background: linear-gradient(to left, #76b852, #8DC26F);*/
        /*font-family: Arial, sans-serif;*/
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font: 600 16px/18px 'Open Sans', sans-serif
    }
    .login-box {
        width: 100%;
        height:900px;
        margin: auto;
        max-width: 525px;
        min-height: 670px;
        position: relative;
        /*background: url(https://images.unsplash.com/photo-1507208773393-40d9fc670acf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80) no-repeat center;*/
        box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    }

    .login-snip {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 90px 70px 50px 70px;
        /*background: rgba(0, 77, 77, .9);*/
    }

        .login-snip .login,
        .login-snip .sign-up-form {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            transform: rotateY(180deg);
            backface-visibility: hidden;
            transition: all .4s linear
        }

        .login-snip .sign-in,
        .login-snip .sign-up,
        .login-space .group .check {
            display: none
        }

        .login-snip .tab,
        .login-space .group .label,
        .login-space .group .button {
            text-transform: uppercase
        }

        .login-snip .tab {
            font-size: 22px;
            margin-right: 15px;
            padding-bottom: 5px;
            margin: 0 15px 10px 0;
            display: inline-block;
            border-bottom: 2px solid transparent
        }

        .login-snip .sign-in:checked + .tab,
        .login-snip .sign-up:checked + .tab {
            color: #fff;
            border-color: #1161ee
        }

    .login-space {
        min-height: 345px;
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d
    }

        .login-space .group {
            margin-bottom: 15px
        }

            .login-space .group .label,
            .login-space .group .input,
            .login-space .group .button {
                width: 100%;
                color: #fff;
                display: block
            }

            .login-space .group .input,
            .login-space .group .button {
                border: none;
                padding: 15px 20px;
                border-radius: 25px;
                background: rgba(255, 255, 255, .1)
            }

            .login-space .group input[data-type="password"] {
                text-security: circle;
                -webkit-text-security: circle
            }

            .login-space .group .label {
                color: #aaa;
                font-size: 12px
            }

            .login-space .group .button {
                background: #1161ee
            }

            .login-space .group label .icon {
                width: 15px;
                height: 15px;
                border-radius: 2px;
                position: relative;
                display: inline-block;
                background: rgba(255, 255, 255, .1)
            }

                .login-space .group label .icon:before,
                .login-space .group label .icon:after {
                    content: '';
                    width: 10px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    transition: all .2s ease-in-out 0s
                }

                .login-space .group label .icon:before {
                    left: 3px;
                    width: 5px;
                    bottom: 6px;
                    transform: scale(0) rotate(0)
                }

                .login-space .group label .icon:after {
                    top: 6px;
                    right: 0;
                    transform: scale(0) rotate(0)
                }

            .login-space .group .check:checked + label {
                color: #fff
            }

                .login-space .group .check:checked + label .icon {
                    background: #1161ee
                }

                    .login-space .group .check:checked + label .icon:before {
                        transform: scale(1) rotate(45deg)
                    }

                    .login-space .group .check:checked + label .icon:after {
                        transform: scale(1) rotate(-45deg)
                    }

    .login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
        transform: rotate(0)
    }

    .login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
        transform: rotate(0)
    }

    *,
    :after,
    :before {
        box-sizing: border-box
    }

    .clearfix:after,
    .clearfix:before {
        content: '';
        display: table
    }

    .clearfix:after {
        clear: both;
        display: block
    }

    a {
        color: inherit;
        text-decoration: none
    }

    .hr {
        height: 2px;
        margin: 60px 0 50px 0;
        background: rgba(255, 255, 255, .2)
    }

    .foot {
        text-align: center
    }

    .card {
        padding: 2% 0 2%;
        margin: auto;
        width: 500px;
    }

    ::placeholder {
        color: #b3b3b3
    }


</style>
    </style>


    <div class="header-backup"></div>
    <div class="background">
        <div class="background1">
            <div class="row">
                @*<div class="col-md-6 mx-auto p-0">*@
                <div class="card">
                    <div class="login-box">
                        <div class="login-snip" style="text-align:center;">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label style="font-size:30px; color:white;" for="tab-1" class="tab">Tính toán chỉ số<p style="font-size:15px;margin-top:20px;">Bạn có thể thay đổi thông tin chiều cao và cân nặng</p></label> <input id="tab-2" type="radio" name="tab" class="sign-up" style="display:none;"><label style="display:none;" for="tab-2" class="tab">đăng ký</label>
                            <div class="login-space">
                                <div style="margin-top:20px;" class="login">
                                    <div class="group"> <label style="font-size:18px; color:white;" for="hoten" class="label">Họ và tên</label> <input id="hoten" type="text" class="input" placeholder="Họ tên" value="@Model.HOTEN" disabled> </div>
                                    <div class="group"> <label style="font-size:18px; color:white;" for="tuoitac" class="label">Tuổi tác</label> <input id="tuoitac" type="text" class="input" placeholder="Tuổi tác" value="@Model.NGAYSINH" disabled> </div>
                                    <div class="group"> <label style="font-size:18px; color:white;" for="pass" class="label">Giới tính</label> <input id="gioitinh" type="text" class="input" placeholder="Giới tính" value="@Model.GIOITINH" disabled> </div>
                                    <div class="group"> <label style="font-size:18px; color:white;" for="pass" class="label">Chiều cao (CM)</label> <input id="chieucao" name="chieucao" type="number" step="0.01" class="input" placeholder="Nhập chiều cao" value="170"> </div>
                                    <div class="group"> <label style="font-size:18px; color:white;" for="pass" class="label">Cân nặng (KG)</label> <input id="cannang" name="cannang" type="number" step="0.01" class="input" placeholder="Nhập cân nặng" value="70"> </div>

                                    <div class="group">
                                        <label style="font-size:18px; color:white;" for="mucvandong">CHỌN MỨC VẬN ĐỘNG</label>


                                        <select class="input" name="mucvandong" id="mucvandong">
                                            <option style="color:black;" id="vandongit" value="vandongit">Người ít vận động</option>
                                            <option style="color:black;" id="vandongnhe" value="vandongnhe">Người vận động nhẹ Vvận động 1 – 3 lần/tuần)</option>
                                            <option style="color:black;" id="vandongvua" value="vandongvua">Người vận động vừa (Vận động3 – 5 lần/tuần)</option>
                                            <option style="color:black;" id="vandongnang" value="vandongnang">Người vận động nặng (người lao động chân tay nhiều, vận động 6 – 7 lần/ tuần)</option>
                                            <option style="color:black;" id="vandongratnang" value="vandongratnang">Người vận động rất nặng (người lao động phổ thông, vận động 2 lần/ngày)</option>
                                        </select>
                                        <div style="margin-top:30px;" class="group"> <a href="@Url.Action("KetQuaTinhToanChiSo", "Home")"><input type="submit" style="color:#dddddd;" class="button" value="Tính tóan"> </div></a>
                                    </div>

                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div >
        </div>

    <script>
        var BMI, R, gioitinh;
        function LayGioiTinh() {
            gioitinh = document.getElementById("chonGioiTinh").value;
        }

        
        var Date = document.getElementById("ngaysinh").value;
        var DateTime = Convert.DateTime(Date);
        document.getElementById("ngaysinh").value = Datetime.Year.ToString();




        function TinhBMI() {
            //1.  lấy giá trị trong thẻ input người dùng nhập
            var chieucao = document.getElementById("txtChieuCao").value;
            var cannang = document.getElementById("txtCanNang").value;
            var mucdovandong = document.getElementById("chonMucDo").value;

            LayGioiTinh();
            if (mucdovandong.localeCompare("vandongit") == 0)
                R = 1.2;
            if (mucdovandong.localeCompare("vandongnhe") == 0)
                R = 1.375;
            if (mucdovandong.localeCompare("vandongvua") == 0)
                R = 1.55;
            if (mucdovandong.localeCompare("vandongnang") == 0)
                R = 1.725;
            if (mucdovandong.localeCompare("vandongratnang") == 0)
                R = 1.9;

            chieucao = parseFloat(chieucao) / 100; //2. chuyển kiểu dữ liệu về dạng số
            cannang = parseFloat(cannang);

            //3. tính toán
            BMI = cannang / (chieucao * chieucao);
            if (gioitinh.localeCompare("nam"))
                BMR = (13, 397 * cannang) + (4, 799 * chieucao) - (5, 677 * 20) + 88, 362
            else
                BMR = (9, 247 * cannang) + (3, 098 * chieucao) - (4, 330 * 20) + 447, 593
            var TDEE = BMR * R;
            //4. đưa giá trị tổng vào trong thẻ div kq.

            document.getElementById("txtBMI").value = BMI.toString();
            document.getElementById("txtLuongCaloMotNgay").value = TDEE.toString();
            //5. Gọi hàm tính tổng ở thuộc tính onClick trên nut bấm.
            funcPhanLoai();

        }

        function funcPhanLoai() {
            if (BMI < 16)
                document.getElementById("txtPhanLoaiCoThe").value = "Rất Óm";

            if (BMI >= 16 && BMI < 17)
                document.getElementById("txtPhanLoaiCoThe").value = "Óm";

            if (BMI >= 17 && BMI < 18.5)
                document.getElementById("txtPhanLoaiCoThe").value = "Óm Vừa";

            if (BMI >= 18.5 && BMI < 25)
                document.getElementById("txtPhanLoaiCoThe").value = "Cân Đối";

            if (BMI >= 25 && BMI < 30)
                document.getElementById("txtPhanLoaiCoThe").value = "Thừa Cân";

            if (BMI >= 30 && BMI < 35)
                document.getElementById("txtPhanLoaiCoThe").value = "Thừa Cân Loại 1";

            if (BMI >= 35 && BMI < 40)
                document.getElementById("txtPhanLoaiCoThe").value = "Thừa Cân Loại 2";

            if (BMI >= 40)
                document.getElementById("txtPhanLoaiCoThe").value = "Thừa Cân Loại 3";
        }
    </script>


}

