
@{
    ViewBag.Title = "SuaLoaiThucPham";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<style>
    .b {
        width: 70%;
        float: right;
        margin-right: 100px;
    }

    .TenThucDon {
        width: 300px;
    }

    .Chonfile {
        background-color: indigo;
        color: white;
        padding: 0.5rem;
        font-family: sans-serif;
        border-radius: 0.3rem;
        cursor: pointer;
        margin-top: 1rem;
    }
</style>
@*@using (Html.BeginForm("SuaThucPham","Admin", FormMethod.Post, new { @enctype = "multipart/form-data"}))*@
@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@

    @Html.ValidationSummary()
    <div class="content">
        <div class="container-fluid">
            <div class="b">
                <div class="row">
                    <div class="row">
                        <a href="@Url.Action("ThucPham","Admin")">Trở về danh sách thực phẩm</a>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Sửa thông tin loại thực phẩm</h4>
                                <p class="card-category"></p>
                            </div>
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-xl-3">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Mã loại thực phẩm</label>
                                            <input type="text" name="MALOAITHUCPHAM" class="form-control" value="@Model.MALOAITHUCPHAM" disabled>
                                        </div>
                                    </div>

                                    <div class="col-xl-9">
                                        <div class="form-group">
                                            <label class="bmd-label-floating">Tên loại thực phẩm</label>
                                            <input type="text" name="TENLOAITHUCPHAM" class="form-control" value="@Model.TENLOAITHUCPHAM">
                                        </div>
                                    </div>
                                </div>
                                

                                <button type="submit" class="btn btn-primary pull-right">Cập nhật thông tin</button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

