@model IEnumerable<QuanLyDinhDuong.Models.THUCDON>

<select style="width: 327px; height: 40px; margin-top: 20px; margin-bottom: 20px; border: 1px solid #dddddd;">

    @foreach (var item in Model)
    {
        <option value="volvo">Buổi: @item.BUOI và Mã thực đơn: @item.MATHUCDON</option>
    }


</select>
